:host{

    width: 100%;
    height: 100%;

    display: flex;

}


.component-wrapper{

    display: flex;
    flex: 1;

}

.chart-wrapper{

    display: flex;
    flex-direction: column;
    flex: 1;

}

.chart-container{

    display: flex;
    flex: 10;
}

.chart-footer{

    display: flex;
    flex: 1;

    background-color: red;
}