<div class="component-wrapper">

    <div class="header-wrapper">
        <div class="header-container">
            <h1>Suggestions</h1>
        </div>
    </div>

    <div class="flex-body-wrapper">

        <div class="suggestion-list-wrapper">
            <div class="suggestion-list-container">
                <div class="scrollable-container">

                    <div class="suggestion-instance-container" *ngFor='let suggestion of this.featureSuggestionState.currentSuggestedFeatures'>
                        <app-suggestion-instance [featuresuggestion]='suggestion'></app-suggestion-instance>
                    </div>

                </div>
            </div>
        </div>        
    </div>

</div>