@media (min-width: 3000px) {

    .toolbar-container {
        flex: 1;
    }

    .current-view-container {
        flex: 25;
    }

    .sidebar-wrapper{
        flex: 1;
    }

    .main-section-wrapper{
        flex: 4;
    }

}